<html>
{{ partial "head.html" }}
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo right"><img src="/images/Wick%20Projects%20Logo.png" style="
    height: 50px;
    width: 110px;
    margin: 5px !important;
"/></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/work/">Work</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/work/">Work</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div align="center" class="info">







